@using PlanningPoker.Entities.Enums;
@using PlanningPoker.Utils.Extensions;

@model GameProgressViewModel

@{
    ViewData["Title"] = "Покер-планирование";
}

@section Styles {
    <bundle name="wwwroot/bundles/css/gamePage.bundle.css" />
}

@section Scripts {
    <bundle name="wwwroot/bundles/js/gameProcess.bundle.js" />
}

<input type="hidden" id="planning-poker-game-id" value="@Model.GameId" />

<div class="planning-poker-gamers-zone-wrapper">
    <div class="planning-poker-gamers-zone">
        <div class="planning-poker-gamer-score" mycard="true" user-id="@User.GetUserId()">

            <div class="planning-poker-card" card-state="unvoted">
            </div>

            <div class="planning-poker-gamer-name">
                @User.Identity.Name
            </div>

        </div>
    </div>
</div>

<div class="planning-poker-tasks-zone-wrapper">

    <div id="planning-poker-tasks-zone-task-header">
        @Model.TaskName
    </div>

    <div id="planning-poker-tasks-zone">

        @* @foreach (var subTask in Model.SubTasks)
        {
        RenderTask(subTask);
        } *@

    </div>
</div>

<div id="planning-poker-gamer-card-zone">
    @foreach (var card in Model.Cards)
    {
        <div class="planning-poker-card planning-poker-card-clickable @MapColorToClass(card.Color)" score="@card.Score">
            @card.Text
        </div>
    }
</div>

@{

    // object RenderTask(GameTaskViewModel task)
    // {
    //     <div class="planning-poker-tasks-zone-task" task-id="@task.Id">
    //         <div class="planning-poker-tasks-zone-task-name">@task.Text</div>

    //         @if (Model.IsAdmin)
    //         {
    //             <select class="form-select shadow-none planning-poker-tasks-zone-task-score" readonly>
    //                 <!option value=""></!option>
    //                 @foreach (var score in Model.Cards.Select(x => x.Score))
    //                 {
    //                     var selectedAttr = task.Score == score ? "selected" : "";

    //                     <!option @selectedAttr value="@score">@score</!option>
    //                 }
    //             </select>
    //         }
    //         else
    //         {
    //             <div>@task.Score</div>
    //         }
    //     </div>

    //     return null;
    // }
}
